
numpy
scikit-learn
pandas
pyarrow  
tiktoken
transformers
torch
torchvision
torchaudio
torchtext

sentencepiece
pytest
black
mypy

pandas
numpy
spaCy
transformers
tqdm
seaborn
matplotlib
networkx
shutil